body {
    background-image: url('https://i.pinimg.com/736x/08/29/64/082964d0a2c15c67f561df9491a1757f.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
